databricks-fator/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "databricks-fator"
		},
		"AzureDatabricks_datafactory_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'AzureDatabricks_datafactory'"
		},
		"AzureDatabricks_datafactory_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0126-142947-8jhznu7j"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_datafactory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-6058034552472390.10.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_datafactory_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks_datafactory_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "criar pipeline para ingestão e transformações dos dados do Data Lake.",
				"activities": [
					{
						"name": "ingestao-camada-bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/jessica-moreira19@hotmail.com/pipeline-databricks-azure/notebooks/inbound_to_bronze"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_datafactory",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ingestao-camada-silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ingestao-camada-bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/jessica-moreira19@hotmail.com/pipeline-databricks-azure/notebooks/bronze_to_Silver"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_datafactory",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_datafactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "para disparar o pipeline criado",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "datalake-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2024-01-26T15:33:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/datalake-ingestion')]"
			]
		}
	]
}